body {
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
}

h3 {
    color: #EEEEEE;
    font-weight: bold;
    font-family: "Jost", sans-serif;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.score {
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #F94F6D;
    font-size: 90px;
    background-color: #080001;
    width: 120px;
    border-radius: 5px;
    padding: 20px;
    margin: 0;
}

button {
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #9AABD8;
    background-color: transparent;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    height: 45px;
    width: 45px;
    margin-top: 20px;
    margin-bottom: 100px;
}